<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AreaPrex" value="NbCloud"/>
    <add key="Commany" value="ZQNB"/>
    <add key="ThemeEnabled" value="False"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>